.game-players-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  min-width: 60px;
}

.player-list-table {
  width: 300px;
  border-collapse: collapse;
}

.game-actions-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  width: 300px;
  min-width: 60px;
}

.message-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.game-container{
  /* center the content */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("https://raw.githubusercontent.com/crisanalex08/CatanCEBP/refs/heads/main/GameUI/UI/src/assets/images/home_background.jpg");
  background-size: cover;
}

.game-details-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  min-width: 60px;
}

.game-over-dialog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

}