<div *ngIf="!IsGameStarted" class="game-container">
    <div class="game-header">
        <h1>{{ game.name }}</h1>
    </div>
    <div class="mesage-container" *ngIf="IsStarting">
        <span *ngIf="IsStarting" >Game is starting...</span>
    </div>
    <div class="mesage-container" *ngIf="!IsStarting">
        <span *ngIf="game?.settings && game.settings.currentPlayersCount === game.settings.maxPlayers">{{ waitingForHostMessage }}</span>
        <span *ngIf="game?.settings && game.settings.currentPlayersCount < game.settings.maxPlayers">{{ waitingForPlayersMessage }}</span>
    </div>

    <div class="game-players-container">
        <p-table [value]="game.players" class="player-list-table">
            <ng-template pTemplate="header">
                <tr>
                    <th>Players: {{ game?.settings?.currentPlayersCount }}/{{
                        game?.settings?.maxPlayers}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-player>
                <tr>
                    <td>{{ player.name }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="game-board-container">
        <div class="game-board"></div>
    </div>
    <div class="game-chat-container">
        <div class="input">
        </div>
    </div>
    <div class="game-actions-container">
        <button pButton type="button" label="Leave Game"
            (click)="leaveGame()"></button>

        <button pButton type="button" label="Start Game" *ngIf="IsHost" [disabled]="IsStarting"
            (click)="startGame()"></button>

     
    </div>
    
  
</div>
<div class="game-board">
    <app-game-ui *ngIf="IsGameStarted"  [game]="game" (sendMessageEvent)="sendMessage($event)" ></app-game-ui>
</div>

<p-dialog 
    [(visible)]="showGameWonDialog" 
    [modal]="true" 
    [blockScroll]="true"
    [draggable]="false"
    [closable]="false"
    [style]="{ width:'50%', 'max-width': '500px',justifyContent: 'center', }">
    <div class="game-over-dialog">
        <h1> {{isWinner ? 'Congratulations!' : 'Game Over'}}</h1>
        <h2>🎉 {{winnerName}} has won the game! 🎉</h2>
        <p-button 
            label="Leave Game" 
            styleClass="p-button-lg mt-4"
            (onClick)="leaveGame()">
        </p-button>
    </div>
</p-dialog>