.game-container{
  
}
.toolbar-buttons {
  display: flex;
  justify-content: space-between; /* Equal spacing between buttons */
  width: 100%; /* Stretch the button container to full width */
}

.player-name-active{
  background-color: var(--primary-color);
  color: rgb(0, 0, 0);
  font-family: monospace;
  font-size: 1.5rem;
  /* Stylized font */
  letter-spacing: 2px;
  /* Spacing between letters */
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}

.actions-container {
  display: flex;
  flex-direction: column;
  width: 100;
}

.action-button{
  margin: 5px;
}


.resources-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.resource-cost{
  display: flex;
  justify-content: first baseline;
  width: 100%;
}

.resource-cost > *{
  margin: 5px;
}