<div class="game-container">
  <p-toolbar>
    <div
      *ngFor="let player of game.players; let i = index"
      [style.background-color]="playersColor[i]"
      [style.border]="player.name === playerName ? '6px solid gray' : 'none'"
      [style.shadow]="player.name === playerName ? '0 0 10px gray' : 'none'"
      class="player-name-active">
      {{ player.name }}
    </div>
  </p-toolbar>
  <p-button
    (onClick)="opChat.toggle($event)"
    label="Chat"
    [style]="{ width: '20rem', 
      overflow: 'hidden',
      'position': 'fixed',
      'left': '0',
      'zIndex': '100',
      'font-weight': 'bold',
      'top': 'calc()',}">
  </p-button>
  <p-overlayPanel #opChat
  [showCloseIcon]="true"
  [dismissable]="false"
  [focusOnShow]="false"
  >
    <app-game-chat
      [gameId]="game.id"
      [playerName]="playerName"
      (sendMessageEvent)="sendMessage($event)"></app-game-chat>
  </p-overlayPanel>
  <p-card
    header="Actions"
    class="actions-card"
    [style]="{ width: '15rem', 
  overflow: 'hidden',
  'position': 'fixed',
  'zIndex': '100',
  'right': '0',
  'bottom': '0',}">
    <div class="actions-container">
      <p-button
        class="action-button"
        severity="secondary"
        label="Roll Dice"
        (click)="rollDice()"></p-button>
      <p-button
        class="action-button"
        severity="secondary"
        (click)="buildSettlement()"
        label="Build Settlement"></p-button>
      <p-button
        class="action-button"
        severity="secondary"
        label="Upgrade Construction"></p-button>
      <p-button (onClick)="showMerchantTradeDialog()" icon="pi pi-arrow-right-arrow-left"
        label="Merchant Trade" class="action-button" />
      <p-button (onClick)="showPlayerTradeDialog()" icon="pi pi-arrow-right-arrow-left"
        label="Trade with Player" class="action-button" />
      <!-- <p-button
        class="action-button"
        severity="secondary"
        label="Trade with Player"></p-button> -->
      <p-button (onClick)="op.toggle($event)" icon="pi pi-dollar"
        label="Building Cost" class="action-button" />
    </div>
  </p-card>
  <p-dialog header="Merchant Trade" [(visible)]="merchantTradeDialogVisible" [modal]="true" [style]="{width: '600px', 'overflow': 'visible'}">
    <app-merchant-trade (closeDialogEvent)="closeMerchantTradeDialog()" [gameId]="game.id" [playerId]="currentPlayerId || 0"></app-merchant-trade>
  </p-dialog>
  <p-dialog header="Request a trade with a player" [(visible)]="playerTradeDialogVisible" [modal]="true" [style]="{width: '600px', 'overflow': 'visible'}">
    <app-trade (closeDialogEvent)="closePlayerTradeDialog()" [gameId]="game.id" [playerId]="currentPlayerId!"></app-trade>
  </p-dialog>
  <p-card
    header="Resources"
    class="actions-card"
    [style]="{ width: '11rem', 
  overflow: 'hidden',
  'position': 'fixed',
  'zIndex': '100',
  'right': '0',
  'top': 'calc()',}">
    <div class="resources-container">
      <p-chip
        label="Wood - {{ currentPlayerResources.WOOD }}"
        image="https://raw.githubusercontent.com/crisanalex08/CatanCEBP/refs/heads/main/GameUI/UI/src/assets/images/wood.png" />
      <p-chip
        label="Clay - {{ currentPlayerResources.CLAY }}"
        image="https://raw.githubusercontent.com/crisanalex08/CatanCEBP/refs/heads/main/GameUI/UI/src/assets/images/clay.png" />
      <p-chip
        label="Stone - {{ currentPlayerResources.STONE }}"
        image="https://raw.githubusercontent.com/crisanalex08/CatanCEBP/refs/heads/main/GameUI/UI/src/assets/images/stone.png" />
      <p-chip
        label="Wheat - {{ currentPlayerResources.WHEAT }}"
        image="https://raw.githubusercontent.com/crisanalex08/CatanCEBP/refs/heads/main/GameUI/UI/src/assets/images/wheat.png" />
      <p-chip
        label="Sheep - {{ currentPlayerResources.SHEEP }}"
        image="https://raw.githubusercontent.com/crisanalex08/CatanCEBP/refs/heads/main/GameUI/UI/src/assets/images/sheep.png" />
      <p-chip
        label="Gold - {{ currentPlayerResources.GOLD }}"
        image="https://raw.githubusercontent.com/crisanalex08/CatanCEBP/refs/heads/main/GameUI/UI/src/assets/images/gold.png" />
    </div>
  </p-card>
  <p-overlayPanel #op>
      <div class="resources-container">
        <p style="font-size: 1.5rem">Settlement</p>
        <div class="resource-cost">
          <p-chip
            label="1"
            image="https://raw.githubusercontent.com/crisanalex08/CatanCEBP/refs/heads/main/GameUI/UI/src/assets/images/wood.png" />
          <i class="pi pi-plus" style="font-size: 1.5rem"></i>
          <p-chip
            label="1"
            image="https://raw.githubusercontent.com/crisanalex08/CatanCEBP/refs/heads/main/GameUI/UI/src/assets/images/clay.png" />
          <i class="pi pi-plus" style="font-size: 1.5rem"></i>
          <p-chip
            label="1"
            image="https://raw.githubusercontent.com/crisanalex08/CatanCEBP/refs/heads/main/GameUI/UI/src/assets/images/wheat.png" />
        </div>
      </div>
      <div class="resources-container">
        <p style="font-size: 1.5rem">Town</p>
        <div class="resource-cost">
          <p-chip
            label="2"
            image="https://raw.githubusercontent.com/crisanalex08/CatanCEBP/refs/heads/main/GameUI/UI/src/assets/images/wood.png" />
          <i class="pi pi-plus" style="font-size: 1.5rem"></i>
          <p-chip
            label="2"
            image="https://raw.githubusercontent.com/crisanalex08/CatanCEBP/refs/heads/main/GameUI/UI/src/assets/images/clay.png" />
          <i class="pi pi-plus" style="font-size: 1.5rem"></i>
          <p-chip
            label="2"
            image="https://raw.githubusercontent.com/crisanalex08/CatanCEBP/refs/heads/main/GameUI/UI/src/assets/images/wheat.png" />
        </div>
      </div>
      <div class="resources-container">
        <p style="font-size: 1.5rem">Castle</p>
        <div class="resource-cost">
          <p-chip
            label="3"
            image="https://raw.githubusercontent.com/crisanalex08/CatanCEBP/refs/heads/main/GameUI/UI/src/assets/images/gold.png" />
          <i class="pi pi-plus" style="font-size: 1.5rem"></i>
          <p-chip
            label="3"
            image="https://raw.githubusercontent.com/crisanalex08/CatanCEBP/refs/heads/main/GameUI/UI/src/assets/images/stone.png" />
          <i class="pi pi-plus" style="font-size: 1.5rem"></i>
          <p-chip
            label="3"
            image="https://raw.githubusercontent.com/crisanalex08/CatanCEBP/refs/heads/main/GameUI/UI/src/assets/images/sheep.png" />
        </div>
      </div>
  </p-overlayPanel>

  <p-card
    header="Player Buildings"
    class="buildings-card"
    [style]="{
        flex: '1',
        overflow: 'hidden',
        position: 'fixed',
        zIndex: '100',
        right: '4.5rem',
        top: 'calc()',
        transform: 'translateX(-50%)',
        'margin-bottom': '1rem'
      }">
    <div class="buildings-container">
      <div class="building-container" *ngFor="let building of playerBuildings">
        <span class="building-label">
        <p-chip
          [label]="building.type.toString()"
          [image]="getBuildingImage(building.type.toString())">
        </p-chip>
      
        <div (click)="upgradeBuilding(building)" class="upgrade-button" *ngIf="building.type !== 'CASTLE'">
          <i class="pi pi-angle-double-up"></i>
        </div>
    
      </span>
        <div class="building-production">
          <span *ngFor="let resource of building.production">
            <p-chip
              [label]="resource.resourceType.toString()"
              styleClass="fixed-width-chip"
              [image]="getResourceImage(resource.resourceType.toString())" />
            <p-chip label="{{ resource.diceValue }}"
              image="https://raw.githubusercontent.com/crisanalex08/CatanCEBP/refs/heads/main/GameUI/UI/src/assets/images/dice.png" />
          </span>
        </div>
      </div>
    </div>
  </p-card>
  <p-card
  header="Active Trades"
  [style]="{ width: '30rem',
    height: 'calc()', 
    overflow: 'hidden',
    'position': 'fixed',
    'left': '0',
    'zIndex': '100', 
    'top': '30rem',}">
      <app-trade-list [gameId]="game.id" [playerId]="currentPlayerId"></app-trade-list>
  </p-card>
  
  <div class="game-board">
    <app-game-board [game]="game"></app-game-board>
  </div>
</div>
